
<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<title>Clinical Study | Detail </title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Clinicl Search | Detail" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{% static 'clinicalSearch/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'clinicalSearch/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'clinicalSearch/css/appointment_style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'clinicalSearch/css/font-awesome.css' %}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<div class="content white" style="margin-bottom:20px;">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand"  href="#">
							<h1><span class="fa fa-stethoscope" aria-hidden="true"></span> Search Trials </h1>
						</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
<div class="banner_inner_content_agile_w3l">

</div>
	<!--//banner -->
	<!-- about -->
	<div class="about">
		<div class="container">
			<h3 class="heading-agileinfo">NCT-ID<span>Investigator goes here.</span></h3>
			<div class="col-md-6 about-w3right">
				<img src="{% static 'clinicalSearch/images/g6.jpg' %}" class="img-responsive" alt="" />
			</div>
			<div class="col-md-6 about-w3left">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
								    aria-controls="collapseOne">
								<span class="glyphicon glyphicon-plus" aria-hidden="true">

                                </span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Brief title
							</a>
							</h5>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
		                        Brief text goes here
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
								    aria-controls="collapseTwo">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Detail description
							</a>
							</h5>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
							description goes here...
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h5 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
								    aria-controls="collapseThree">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Study population
							</a>
							</h5>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false"
						    style="height: 0px;">
							<div class="panel-body panel_text">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<h5 class="panel-title asd">
								<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
								    aria-controls="collapseFour">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Eligibility criteria
							</a>
							</h5>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour" aria-expanded="true">
							<div class="panel-body panel_text">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
								non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //about -->
<!-- emergency_cases -->
	<div class="emergency_cases_w3ls">
		<div class="emergency_cases_bt">
			<div class="container">
				<div class="emergency_cases_top">
					<div class="col-md-6 emergency_cases_w3ls_left">
						<h4>Important dates</h4>
						<h6>Start date&nbsp;<span class="eme">8.00 - 18.00</span></h6>
						<h6>Completion date&nbsp;<span class="eme">9.00 - 17.00</span></h6>
						<h6>Result first posted&nbsp;<span class="eme">9.00 - 15.00</span></h6>
                        <h6>Last updated date&nbsp;<span class="eme">9.00 - 17.00</span></h6>
						<h6>Last verified&nbsp;<span class="eme">9.00 - 15.00</span></h6>
					</div>
					<div class="col-md-6 emergency_cases_w3ls_right">
						<h4>Abstract</h4>
						<h5><i class="fa fa-users" aria-hidden="true"></i>No. of Enrollment</h5>
                        <h6>Lead Sponsor&nbsp;<span class="eme">9.00 - 15.00</span></h6>
                        <p>Source&nbsp;</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
<!-- //emergency_cases -->
<!-- team -->
<div class="team">
	<div class="container">
		<h3 class="heading-agileinfo">Detailed Study Info<span>Detailed information about the clinical study.</span></h3>
		<div class="container">
            <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tag Name</th>
        <th>Value</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>

      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>

      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>

      </tr>
    </tbody>
  </table>
        </div>
	</div>
</div>
<!-- //team -->
<!-- footer -->
	<div class="footer_top_agile_w3ls">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>We as a team are working to provide a platform where people all around the globe can search for clinical
					trials.

				</p>

			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>315 Fifth Ave, 9th Floor <span>New York NY 10016</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@appliedinformaticsinc.com">info@appliedinformaticsinc.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+1 212 537 6944</li>
				</ul>
			</div>

			<div class="col-md-4 footer_grid ">
				<h3>Sign up for our Newsletter</h3>
				<p>Get Started For Free</p>
				<div class="footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<div class="footer_wthree_agile">
		<p>© 2018 Search Trials. All rights reserved | Design by <a href="http://appliedinformaticsinc.com/">Applied Informatics</a></p>
	</div>
<!-- //footer -->
<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					New Clinic
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
					<div class="modal-body">
						<img src="{% static 'clinicalSearch/images/g7.jpg' %}" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum
							exercitationem ullam corporis suscipit laboriosam,
							nisi ut aliquid ex ea commodi consequatur? Quis autem
							vel eum iure reprehenderit qui in ea voluptate velit
							esse quam nihil molestiae consequatur, vel illum qui
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up -->
<!-- js -->
	<script type="text/javascript" src="{% static 'clinicalSearch/js/jquery-2.1.4.min.js' %}"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>
	<script type="text/javascript" src="{% static 'clinicalSearch/js/bootstrap.js' %}"></script>
</body>

</html>